body {
  background-color: #ffffff;
}

:root {
  --brand-color: #ffffff;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*header*/

@media only screen and (max-width: 767.98px) {
  header {
    padding-top: 25px;
    padding-bottom: 24px;
  }
}
header {
  background: var(--white, #fff);
  flex-shrink: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/*Phones screen*/

.container {
  min-width: 320px;
  max-width: 428px;

  padding: 0 16px;
  margin: 0 auto;
}

/*Tablet screen*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*Desktop screen*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  margin-left: 16px;
}

.logo:root {
  color: #4d5ae5;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

.logo-two {
  color: #2e2f42;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-list {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .header-address-list {
    display: block;
    padding-right: 16px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-address-list {
  }
}

.guidance {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.guidance:hover,
.guidance:focus,
.contacts:hover,
.contacts:focus,
.link:hover,
.link:focus,
.guidance.current {
  color: #404bbf;
}

.guidance::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  transform: scaleX(0);
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.guidance:hover:after,
.guidance:focus:after,
.guidance.current:after {
  transform: scaleX(1);
}

.header-address {
  font-style: normal;
}

@media only screen and (max-width: 767.98px) {
  .header-address {
    display: none;
  }
}

.contacts-header {
  color: #434455;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
}

@media only screen and (min-width: 1158px) {
  .contacts-header {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}

.contacts:root {
  color: #434455;
}

/*main*/

main {
  margin-bottom: 120px;
}

/*Перша секція основного контенту*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dark-bg {
  max-width: 1440px;
  background: var(--navyblue, #2e2f42);
  flex-shrink: 0;
  padding-right: 54px;
  padding-left: 54px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_mobile@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 112px 0;
}

@media only screen and (min-width: 1158px) {
  .dark-bg {
    padding-bottom: 120px;
  }
}

.dark-bg-container {
  /* max-width: 1440px;
  background: var(--navyblue, #2e2f42);
  flex-shrink: 0;
  padding-right: 54px;
  padding-left: 54px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_mobile@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .dark-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg_mobile@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .dark-bg {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg_tablet@1x.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .dark-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg_tablet@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .dark-bg {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office\ 1_desktop@1x.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .dark-bg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office\ 1_desktop@2x.jpg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-text {
  max-width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  color: var(--white, #ffffff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media only screen and (max-width: 767.98px) {
  .main-text {
    max-width: 320px;
    height: 80px;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .main-text {
    margin-bottom: 48px;
  }
}

.main-button {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  text-align: center;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/*Друга секція основного контенту*/

.two-section {
  padding: 96px 0;
}

/*Desktop screen*/

@media only screen and (min-width: 1158px) {
  .two-section {
    padding: 120px 0;
  }
}

.two-section-list {
  padding-left: 16px;
}

@media only screen and (max-width: 767.98px) {
  .two-section-items:not(:last-child) {
    margin-bottom: 72px;
  }
}

/*Tablet screen*/

@media only screen and (min-width: 768px) {
  .two-section-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .two-section-items {
    width: calc((100% - 72px) / 2);
  }
}

/*Desktop screen*/

@media only screen and (min-width: 1158px) {
  .two-section-list {
    display: flex;
    gap: 24px;
    padding: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .two-section-items {
    width: calc((100% - 72px) / 4);
  }
}

/*Mobile screen*/

.two-section-items-icons {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1157.98px) {
  .two-section-items-icons {
    display: none;
  }
}

.main-second-section {
  align-self: stretch;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-right: 22px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .main-second-section {
    display: flex;
    width: 356px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
  .main-second-section {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
  }
}

.main-second-section-text {
  align-self: stretch;
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
  .main-second-section-text {
    font-weight: 400;
  }
}

/*Третя секція основного контенту*/

@media (max-width: 1157.98px) {
  .third-section {
    display: none;
  }
}

.third-section {
  padding-bottom: 120px;
}

.third-section .list {
  display: flex;
  gap: 24px;
  padding: 0;
}

.third-section-items {
  width: calc((100% - 48px) / 3);
}

/*Загальний стиль*/

.main-page-text {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/*Четверта секція основного контенту*/

.fourth-section {
  width: 100%;
  background: var(--cloud, #f4f4fd);
  flex-shrink: 0;
  padding: 96px 0;
}

.fourth-section-container {
  max-width: 296px;
}

@media only screen and (min-width: 768px) {
  .fourth-section-container {
    max-width: 584px;
  }
}

@media only screen and (min-width: 1158px) {
  .fourth-section-container {
    max-width: 1158px;
  }
}

.fourth-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

@media only screen and (min-width: 1158px) {
  .fourth-section-list {
    display: flex;
    gap: 24px;
    padding: 0;
  }
}

.fourth-section-items {
  height: 428px;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .fourth-section-items {
    width: calc(100% - 24px) / 2;
  }
}

@media only screen and (min-width: 1158px) {
  .fourth-section-items {
    width: calc(100% - 72px) / 4;
  }
}

.main-fourth-section {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
}

.main-fourth-section-text {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 0;
}

.fourth-section-items-icons {
  width: 40px;
  height: 40px;
}

.fourth-section-social-networks {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-section-social-networks:hover,
.fourth-section-social-networks:focus {
  background-color: #404bbf;
}

.fourth-section-icons {
  fill: #f4f4fd;
}

/*П*ята секція*/

.five-section {
  width: 100%;
  padding-top: 96px;
}

.five-section-container {
  max-width: 396px;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .five-section-container {
    max-width: 584px;
  }
}

@media only screen and (min-width: 1158px) {
  .five-section-container {
    max-width: 1128px;
  }
}

.five-section-main-text {
  letter-spacing: 0.72px;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  text-transform: capitalize;
  margin-bottom: 72px;
}

.five-section-main-text:root {
  color: #2e2f42;
}

.five-section-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .five-section-list {
    gap: 72px 24px;
  }
}

.five-section-items {
  width: calc((100% - 1 * 16px) / 2);
  height: 88px;
}

@media only screen and (min-width: 768px) {
  .five-section-items {
    width: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .five-section-items {
    width: calc((100% - 120px) / 6);
  }
}

.five-section-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.five-section-link:hover,
.five-section-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.five-section-link:root {
  color: #8e8f99;
}

.five-section-icons {
  fill: currentColor;
  width: 190px;
  height: 88px;
}

@media only screen and (min-width: 768px) {
  .five-section-icons {
    width: 168px;
  }
}

/*footer*/

.footer-dark-bg {
  background: var(--navyblue, #2e2f42);
  flex-shrink: 0;
  padding-top: 96px;
  padding-bottom: 96px;
  /*padding: 100px 0;
  display: flex;*/
}

@media only screen and (min-width: 1158px) {
  .footer-dark-bg {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  /*align-items: center;
  margin: 0 auto;*/
  /*margin-right: 120px;
  margin-left: 156px;
  display: flex;*/
}

/*@media only screen and (max-width: 1157.98px) {
  .two-footer-container {
    margin-top: 97px;
  }
}*/

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-container {
    max-width: 584px;
    justify-content: flex-start;
    gap: 72px 24px;
  }

  /*.footer-container-icons {
    margin-top: 96px;
  }

  .footer-subscribe {
    margin-bottom: 96px;
  }*/

  .button-subscribe {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    gap: 0;
    align-items: center;
  }

  .two-footer-container {
    margin-right: 120px;
  }

  .footer-subscribe {
    margin-left: auto;
  }
}

.logo-web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  justify-content: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
}

.logo-studio {
  color: #f4f4fd;
}

.footer-dark-bg-text {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer-text:root {
  color: #ffffff;
}

.footer-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}

.footer-items-icons {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:root {
  background-color: #4d5ae5;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-icons {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:root {
  fill: #f4f4fd;
}

.button-subscribe-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer-form-input {
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-input:hover,
.footer-form-input:focus {
  border: 1px solid #4d5ae5;
}

.footer-form-input::placeholder {
  color: #ffffff;
  padding-left: 16px;
}

.logo-web,
.footer-text,
.button-subscribe-text {
  padding-bottom: 16px;
}

@media only screen and (max-width: 767.98px) {
  .footer-subscribe,
  .footer-form,
  .footer-form-label,
  .footer-form-input {
    width: 100%;
  }

  .logo-web,
  .footer-text,
  .button-subscribe-text {
    display: block;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white, #fff);
  cursor: pointer;
  background-color: var(--iris, #4d5ae5);
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  text-align: center;
  gap: 16px;
  margin: 0 auto;
}

@media only screen and (max-width: 767.98px) {
  .button-subscribe {
    margin-top: 16px;
    text-align: center;
  }
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #404bbf;
}

.button-subscribe-icons {
  fill: #fff;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }

  .button-subscribe {
    margin-left: 24px;
  }
}

/*main portfolio*/
/*ст.2 (Портфоліо)*/

.body-portfolio {
  color: #434455;
  font-family: "Roboto", sans-serif;
}

/*Навігація початок*/

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-link:root {
  color: #2e2f42;
}

/*Навігація кінець*/

.first-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-item {
  justify-content: center;
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}

.main-button-portfolio {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button-portfolio:hover,
.main-button-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-page {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
}

.list-page .list {
  padding: 0;
  margin: 0;
}

.items-page {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-items {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-items:hover,
.link-items:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.items-page-container {
  position: relative;
  overflow: hidden;
}

.items-page-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-items:hover .items-page-paragraph,
.link-items:focus .items-page-paragraph {
  transform: translateY(0%);
}

.items-page-paragraph:root {
  color: #f4f4fd;
}

.holder {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.contacts-header {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header:root {
  color: #434455;
}

.contacts-header:hover,
.contacts-header:focus {
  color: #404bbf;
}

.project-text {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.project-text:root {
  color: #2e2f42;
}

.project-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.project-card-text:root {
  color: #434455;
}

.project-card-text:hover {
  transform: translateY(0%);
}

/*Modal window*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover svg {
  fill: #ffffff;
}

.button-modal:focus svg {
  fill: #ffffff;
}

.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-caption:root {
  color: #2e2f42;
}

.modal-form-conteiner {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-label:root {
  color: #8e8f99;
}

.modal-form-field {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.textarea-comment:hover,
.textarea-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-input {
  padding-left: 38px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-comment {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
  border-color: #4d5ae5;
}

.textarea-comment::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}

.modal-form-conteiner-checkbox {
  margin-bottom: 24px;
}

.modal-form-agrement {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-agrement:root {
  color: #8e8f99;
}

.agreement-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

input[type="checkbox"]:checked + .modal-form-agrement > .agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.agreement-checkbox-icon {
  fill: #f4f4fd;
}

.modal-form-link {
  color: #4d5ae5;
}

.modal-form-link:root {
  color: #4d5ae5;
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

/**Mobile menu**/

.menu-toggle {
  width: 32px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.js-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  padding-top: 80px;
  background-color: var(--white, #fff);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--navyblue, #2e2f42);
  text-decoration: none;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-link:active {
  color: var(--ocean, #404bbf);
}

.mobile-menu-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.mobile-menu-address {
  padding-bottom: 48px;
}

.mobile-menu-address-link {
  padding-bottom: 40px;
}

.contacts-mobile-menu-tel {
  color: var(--iris, #4d5ae5);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.contacts-mobile-menu-email {
  color: var(--slate, #434455);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.02em;
}
